<!DOCTYPE html>
<html>
    <head>
        <title>Test Vue</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="src/assets/css/lib/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="src/assets/css/app.css">
    </head>
    <body>

        <div id="app">
            <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark nava">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand bralink" href="#">
                    {{ title }}
                    <img class="logo" src="/VUE.Learn/AreaT/src/assets/img/filmLogo.svg" alt="">
                    <span> to {{ inputtext }}</span>
                </a>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                        <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
                        </li>
                        <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                        </li> -->
                    </ul>


                </div>
            </nav>

            <div class="container">

                <div class="row">
                    <div class="col">
                        <div class="content">

                            <h1>Film Search</h2>
                            <p>(via ImdB-ID)</p>


                            <form class="form-inline my-2 my-lg-0">

                                <input class="form-control mr-sm-2" type="search" placeholder="Enter IMDb-DI (i. e. tt6105098)" v-model="inputText" :value="value" v-on:input="searchMovie" aria-label="Search">

                                <!-- <button :class="className" class="tn btn-outline-success my-2 my-sm-0" @click="searchMovie">Search</button> -->

                            </form>


                            <p class="my-4"> This is {{ inputText }} </p>



                            <li class="photo" v-for="photo in filteredPhotoFeed" v-bind:key="photo.id">
                                <span class="author">{{ onceUponaTime.title }}</span>
                            </li>

                            <div class="row">

                                <!-- <div class="col-sm-6">
                                    <img v-bind:src="onceUponaTime.poster" class="img-fluid" alt="Responsive image">
                                </div> -->

                                <div class="col-sm-6">
                                    <h3>{{ onceUponaTime.title }} {{ onceUponaTime.year }}</h3>

                                    <!-- <film-cast></film-cast> -->


                                    <div class="table-responsive" v-if="onceUponaTime.length">
                                        <table class="table table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th>Actor Name</th>
                                                    <th class="character">Role in Film</th>
                                                </tr>
                                            </thead>

                                            <tbody v-for="cast in onceUponaTime.cast">
                                              <tr>
                                                  <td>{{ cast.actor }}</td>
                                                  <td class="character">"{{ cast.character }}"</td>
                                              </tr>
                                            </tbody>

                                        </table>
                                    </div>

                                </div>
                            </div>

                            <!-- <filmoftheweek></filmoftheweek> -->

                        </div>


                        <!-- <small>Today is <span v-text="new Date()"></span>, to be precisely precise.</small> -->

                    </div>
                </div>


            </div>

            </div>

        <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
        <script src="src/assets/js/lib/axios/axios.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
        <script type="text/javascript" src="src/assets/js/lib/vue/vue.js"></script>

        <script type="text/javascript" src="src/assets/js/lib/jquery/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="src/assets/js/lib/bootstrap/bootstrap.min.js"></script>

        <script type="text/javascript" src="src/app.js"></script>
        <script type="text/javascript" src="src/components/filmoftheweek.js"></script>
        <script type="text/javascript" src="src/components/actor-list.js"></script>
        <script type="text/javascript" src="src/assets/js/main.js"></script>

    </body>
</html>
