<!DOCTYPE html>
<html>
    <head>
        <title>sdFilm in Vue.js</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="src/assets/css/lib/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="src/assets/css/app.css">
    </head>
    <body>

        <div id="app">
            <nav class="navbar navbar-expand navbar-light bg-light navbar-dark nava">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand bralink" href="#">
                    {{ title }}
                    <img class="logo" src="src/assets/img/filmLogo.png" alt="">

                    <span class="navTitle" v-if="titleState">
                        {{ apiFilm.title }}
                    </span>
                    <span class="navTitle" v-else>
                        {{ apiSearchID }}
                    </span>

                </a>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">

                        </li>
                    </ul>


                </div>
            </nav>

            <div class="container">

                <div class="row">
                    <div class="col">
                        <div class="content">

                            <h1>Film Search</h1>

                            <p>(via Film Title)</p>

                            <form v-on:submit.prevent class="form-inline my-2 my-lg-0">

                                <input class="form-control mr-sm-2" type="search" placeholder="Enter film title" v-model="apiSearchTitle" v-on:keyup.enter="searchMovieTitle" onSubmit="return false;" aria-label="Search">

                                <button :class="className" type="button" class="btn btn-outline-success my-2 my-sm-0" @click="searchMovieTitle">Search</button>

                            </form>

                            <small>(i. e. <a @click="ExampleSearchMovieTitle"> {{ ExampleSearchInput }} </a>)</small>


                            <div class="row mt-3">
                            <!-- <div class="row mt-3" v-if="apiSearch.length"> -->

                                    <div v-for="titles in apiSearch.titles" class="col-md-6 my-2">
                                            <div class="row no-gutters">
                                                <div class="col-6">
                                                    <img class="img-fluid" v-bind:src="titles.image" alt="Card image cap">
                                                </div>
                                                <div class="col-6 p-3 filmCard">
                                                    <h5 class=" mt-2"> {{ titles.title }} </h5>
                                                    <button :class="className" type="button" class="btn btn-outline-success my-2 my-sm-0"> Go to {{ titles.id }} </button>
                                                </div>
                                            </div>
                                    </div>

                              </div>

                        </div>

                    </div>
                </div>


            </div>

            </div>

        <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
        <script src="src/assets/js/lib/axios/axios.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
        <script type="text/javascript" src="src/assets/js/lib/vue/vue.js"></script>

        <script type="text/javascript" src="src/assets/js/lib/jquery/jquery-3.4.1.min.js"></script>
        <script type="text/javascript" src="src/assets/js/lib/bootstrap/bootstrap.min.js"></script>

        <script type="text/javascript" src="src/app.js"></script>
        <script type="text/javascript" src="src/components/filmoftheweek.js"></script>

    </body>
</html>
