body {
    background-color: #2c4367;
    font-family: 'Sen', sans-serif;
    color: #fdfdfd;
    font-size: 20px;
    text-align: left;
}

h1,
.bralink,
.btn-outline-success {
    color: #ffd700;
    border-color: #ffd700;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    color: #ffd700;
}

small a {
    text-decoration: underline!important;
    cursor: pointer;
}

td {
    color: #fdfdfd;
}

.sdfGold {
    background-color: #ffd700;
    color: #1b283e;
}

.sdfGoldText,
thead {
    color: #ffd700!important;
}

a.sdfGoldText {
    cursor: cell;
}

.sdfDarkText {
    color: #1b283e;
}

.sdfGoldClicked {
    background-color: #1b283e;
    color: #ffd700;
}

.nava {
  background-color: #1b283e !important;
}

#sD_GamesLogo{
  height: 30px;
}

.bralink {
    color: #ffd700!important;
    font-size: 40px;
    font-weight: 600;
}

.bralink > span {
    color: #fdfdfd;
    font-size: .5em;
}
.bralink .logo {
    height: .75em;
}

.bg-dark {
  background-color: #1b283e !important;
}

.content{
	padding-top: 5%;
    text-shadow: 0px 2px 1px rgba(0,0,0,0.4),
                 0px 4px 6px rgba(0,0,0,0.1),
                 0px 9px 12px rgba(0,0,0,0.1);
    max-width: 100%;
}

img.filmPoster {
    box-shadow:
        0px 2px 1px rgba(0,0,0,0.4),
        0px 4px 6px rgba(0,0,0,0.1),
        0px 9px 12px rgba(0,0,0,0.1);
}

h1 {
    font-size: 3em;
    font-weight: 600;
    color: #ffd700;
}

td {
    color: #fdfdfd;
}

.character {
    font-style: italic;
}

/* ul {
    list-style: none;
} */